import React from 'react';

import * as css from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = ({ props }) => {
  return (
     <div className={css.root}></div>
  );
};

export default {{pascalCase name}};
